<a href="https://colab.research.google.com/github/Topomessi/cursoIA/blob/main/Tarea1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ivan Arias
'''Cargar el conjunto de datos en un DataFrame.
● Imprima las primeras filas del conjunto de datos para entender su estructura.
● Compruebe y resuma cualquier valor faltante o NaN en cada columna.
● Rellene los valores perdidos en Units_Sold con el valor medio de la columna.
● Elimine las filas en Sales_Amount sea negativo o Store_Location falte.
● Añada una nueva columna Sale_Price_Per_Unit dividiendo Sales_Amount
por Units_Sold.
● Convertir la columna Date a un objeto DateTime en pandas.
● Agregue los datos para encontrar el total de Units_Sold y el Sales_Amount
por Store_Location.
● Agrupe los datos por mes y calcule las ventas totales de cada mes para
identificar tendencias a lo largo del tiempo.
● Identifique los 5 productos más vendidos (por Units_Sold).
● Escribir una función Python para calcular la varianza de ventas de cada producto.'''

In [4]:
import pandas as pd

In [8]:
df=pd.read_csv('/content/sales_data.csv')

In [9]:
df.iloc[0,:]# ver primera fila

Date              2023-01-21
Product_ID              1003
Store_Location          West
Units_Sold                 0
Sales_Amount         4033.98
Name: 0, dtype: object

In [19]:
vacio=df.isna()#recorrer todo solo para imprimir vacio? True es vacio

In [24]:
print(vacio.columns)#hacer lista vacia ir cargando los valores con Nan   True

Index(['Date', 'Product_ID', 'Store_Location', 'Units_Sold', 'Sales_Amount'], dtype='object')